crewai
dash
dash-ace
dash-ag-grid
dash-bootstrap-components
dash-core-components
dash-html-components
dash-monaco-editor
dash-table
diskcache
docker
elasticsearch<8.0.0 
flask
gitpython
kafka-python
dotenv
numpy<2.0
click>=8.0
tabulate>=0.9
